body{
    background: #FA5C65;
}

#btn{
    width: 600px;
    height: 300px;
    background: #37DC94;
    border-radius: 50%;
    margin: 30px auto;
    text-align: center;
    line-height: 300px;
    color: #050000;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 20px 0 #289e6a;
    user-select: none;
}

#btn:active {
    box-shadow: 0 10px 0 #289e6a;
    margin-top: 45px;
}
